@page
@using WebApplication1.Components;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This website is created by Akash</h1>
</div>

@*<div class="card">
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="DetailsController" asp-action="Index">All Student Details</a>
        </li>
    </ul>
    <div>
        @Html.DisplayFor(Model => Model.Students)
    </div>
</div>*@

@(await Html.RenderComponentAsync<Product>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>